<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopper_profile.user %>
</p>

<%= link_to 'Edit', edit_shopper_profile_path(@shopper_profile) %> |
<%= link_to 'Back', shopper_profiles_path %>
